* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  cursor: default;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ************** Dark Theme ************** */
.dark-theme {
  background: #000;
  color: #fff;
}

.dark-theme header {
  background: #000;
  color: #fff;
}

.dark-theme .settings-key-input {
  background: #050505;
  border-color: #383838;
  color: #fff;
}

@keyframes darkControlAnimation {
  0% {
    background: #050505;
  }
  50% {
    background: #222222;
  }
  100% {
    background: #050505;
  }
}

.dark-theme .header-info-text:hover {
  color: #535353;
}

.dark-theme .saveSettings {
  background: #5f5f5f;
  color: #fff;
}

.dark-theme .saveSettings:hover {
  background-color: #474747;
}

.dark-theme .saveSettings:active {
  background: #242424;
}

.dark-theme #appIcon {
  background-image: url(Assets/Themes/icon_dark-theme.png);
}

.dark-theme .settings-key-input:focus {
  animation: darkControlAnimation 1.5s infinite;
  outline: none;
}

.dark-theme .toggle-theme-button {
  background-image: url(Assets/Themes/light-theme.png);
}

/* ************** Dark Theme ************** */

/* ************** Light Theme ************** */
.light-theme {
  background: #e4e4e4;
  color: #000;
}

.light-theme header {
  background: #e4e4e4;
  color: #000;
}

.light-theme .settings-key-input {
  background: #eeeeee;
  border-color: #a5a5a5;
  color: #000;
}

@keyframes lightControlAnimation {
  0% {
    background: #eeeeee;
  }
  50% {
    background: #c2c2c2;
  }
  100% {
    background: #eeeeee;
  }
}

.light-theme .header-info-text:hover {
  color: rgb(150, 150, 150);
}

.light-theme .saveSettings {
  background: #337ab7;
  color: #fff;
}

.light-theme .saveSettings:hover {
  background-color: #116cb8;
}

.light-theme .saveSettings:active {
  background: #0a5a9c;
}

.light-theme #appIcon {
  background-image: url(Assets/Themes/icon_light-theme.png);
}

.light-theme .settings-key-input:focus {
  animation: lightControlAnimation 1.5s infinite;
  outline: none;
}

.light-theme .toggle-theme-button {
  background-image: url(Assets/Themes/dark-theme.png);
}

/* ************** Light Theme ************** */

header {
  font-size: 9pt;
  display: flex;
  justify-content: space-between;
}

.header-info-label {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-icon {
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 5px;
}

.header-info-text {
  flex-grow: 1;
  padding: 0.35em 0.5em;
  letter-spacing: 1px;
  transition: color 0.5s ease;
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-theme-button {
  background-color: transparent;
  border: none;
  width: 18px;
  height: 18px;
  margin-right: 3px;
  background-size: cover;
}

.close-button,
.minimize-button {
  cursor: pointer;
  font-family: Webdings;
  font-size: 11pt;
  padding: 0.35em 0.5em;
}

.minimize-button:hover {
  background: gray;
}

.close-button:hover {
  background: #dc3545;
}

.bind-keys-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bind-keys-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-label {
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

.settings-key-input {
  width: 100%;
  height: 36px;
  padding: 5px;
  border: 1px solid;
  border-radius: 3px;
  margin-bottom: 10px;
  text-align: center;
  font-size: medium;
  letter-spacing: 1px;
  font-weight: 400;
}

.saveSettings {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}