* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  cursor: default;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ************** Dark Theme ************** */
.dark-theme {
  background: #000;
  color: #fff;
}

.dark-theme header {
  background: #000;
  color: #fff;
}

.dark-theme .input-settings {
  background: #050505;
  border-color: #383838;
  color: #fff;
}

@keyframes darkControlAnimation {
  0% {
    background: #050505;
  }
  50% {
    background: #222222;
  }
  100% {
    background: #050505;
  }
}

.dark-theme .title-bar:hover {
  color: #535353;
}

.dark-theme .saveSettings {
  background: #5f5f5f;
  color: #fff;
}

.dark-theme .saveSettings:hover {
  background-color: #474747;
}

.dark-theme .saveSettings:active {
  background: #242424;
}

.dark-theme #appIcon {
  background-image: url(Assets/Themes/icon_dark-theme.png);
}

.dark-theme .input-settings:focus {
  animation: darkControlAnimation 1.5s infinite;
  outline: none;
}

.dark-theme .theme-toggle {
  background-image: url(Assets/Themes/light-theme.png);
}

/* ************** Dark Theme ************** */

/* ************** Light Theme ************** */
.light-theme {
  background: #e4e4e4;
  color: #000;
}

.light-theme header {
  background: #e4e4e4;
  color: #000;
}

.light-theme .input-settings {
  background: #eeeeee;
  border-color: #a5a5a5;
  color: #000;
}

@keyframes lightControlAnimation {
  0% {
    background: #eeeeee;
  }
  50% {
    background: #c2c2c2;
  }
  100% {
    background: #eeeeee;
  }
}

.light-theme .title-bar:hover {
  color: rgb(150, 150, 150);
}

.light-theme .saveSettings {
  background: #337ab7;
  color: #fff;
}

.light-theme .saveSettings:hover {
  background-color: #116cb8;
}

.light-theme .saveSettings:active {
  background: #0a5a9c;
}

.light-theme #appIcon {
  background-image: url(Assets/Themes/icon_light-theme.png);
}

.light-theme .input-settings:focus {
  animation: lightControlAnimation 1.5s infinite;
  outline: none;
}

.light-theme .theme-toggle {
  background-image: url(Assets/Themes/dark-theme.png);
}

/* ************** Light Theme ************** */

.app-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 5px;
}

header {
  width: 100%;
  font-size: 9pt;
  letter-spacing: 1px;
}

.header-info-label {
  width: 91%;
}

label {
  display: block;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

.input-settings {
  width: 20%;
  height: 30px;
  padding: 5px;
  border: 1px solid;
  border-radius: 3px;
  margin-bottom: 10px;
  text-align: center;
  font-size: medium;
  letter-spacing: 1px;
  font-weight: 400;
}

.input-settings:hover {
  cursor: default;
}

.input-settings:not(:focus) {
  outline: none;
}

.title-bar,
.title-btn {
  padding: 0.35em 0.5em;
}

.title-bar {
  transition: color 0.5s ease;
}

.title-btn {
  cursor: pointer;
  font-family: Webdings;
  font-size: 11pt;
}

.title-btn:hover {
  background: gray;
}

.title-btn-close:hover {
  background: #dc3545;
}

.saveSettings {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.theme-toggle {
  background-color: transparent;
  position: relative;
  border: none;
  cursor: pointer;
  outline: none;
  width: 18px;
  height: 18px;
  margin-top: 5px;
  margin-right: 5px;
  background-size: cover;
}
