@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

html, body {
      width: 100%;
      height: 100%;
      background-color: #000;
      color: #fff ;
      margin: 0;
      padding: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: default
}

.app-icon {
    width:15px;
    height:15px;
    padding: 5px;
}

header {
  width: 100%;
  display: flex;
	justify-content: space-between;
  background: #000;
  color: #fff;
  font-family: Segoe UI;
  font-size: 9pt;
}

.header-info-label {
	display: flex;
	align-items: center;
	width: 91%;
}

.header-buttons {
	display: inline-flex;
	align-items: center;
}

h2 {
  text-align: center;
}

label {
  height: 10%;
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes color-animation {
  0% {
    background-color: #2E2F32;
  }
  50% {
    background-color: #727272;
  }
  100% {
    background-color: #2E2F32;
  }
}

input[type="text"] {
  display: flex;
  width: 20%;
  max-width: 300px; 
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #2E2F32 ;
  color: white;
  border-bottom: 2px solid transparent;
  font-size: medium;
  font-weight: 100;
  letter-spacing: 1px;
}

input[type="text"]:focus {
  animation: color-animation 1.5s infinite;
}

input[type="text"]:not(:focus) {
  outline: none;
}

.title-bar,
.title-btn {
  padding: 0.35em 0.5em;
}

.title-bar {
  flex-grow: 1;
  transition: color 0.5s ease;
}

.title-bar:hover{
  color: rgb(83, 83, 83);
}

.title-btn {
  cursor: pointer;
  vertical-align: bottom;
  font-family: Webdings;
  font-size: 11pt;
}

.title-btn:hover {
  background: gray;
}

.title-btn-close:hover {
  background: #dc3545;
}

.saveSettings {
  background-color: gray;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
    position: fixed;
  bottom: 20px;
  right: 20px;
}

.saveSettings:hover {
  background-color: #474747;
}

.saveSettings:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}

.saveSettings:active {
  background-color: #000;
}